language: php

php:
  - 5.3.3
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - hhvm

matrix:
    allow_failures:
        - php: hhvm

env:
  - SYMFONY_VERSION="2.1.0" LIBPHONENUMBER_VERSION="~5.7"
  - SYMFONY_VERSION="~2.1" LIBPHONENUMBER_VERSION="~6.0"

before_install:
  - composer require symfony/framework-bundle:${SYMFONY_VERSION} --no-update --no-interaction
  - composer require giggsey/libphonenumber-for-php:${LIBPHONENUMBER_VERSION} --no-update --no-interaction

install:
  - composer install --dev --prefer-source --no-interaction

script: ./vendor/bin/phpunit --coverage-text
