parameters:
    level: 1
    paths:
      - src
      - tests
    inferPrivatePropertyTypeFromConstructor: true
    ignoreErrors:
        -
            message: "#^Attribute class Symfony\\\\Component\\\\Validator\\\\Attribute\\\\HasNamedArguments does not exist\\.$#"
            count: 1
            path: src/Validator/Constraints/PhoneNumber.php
