<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./vendor/autoload.php" colors="true">
    <php>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="999999" />
    </php>
    <testsuites>
        <testsuite name="MisdPhoneNumberBundle Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>src</directory>
        </whitelist>
    </filter>
    <listeners>
        <listener class="\Symfony\Bridge\PhpUnit\SymfonyTestsListener" />
    </listeners>
</phpunit>
